/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
**/.vscode
*.js
*.js.map
src/main/**/*.js
src/main/**/*.js.map
src/main/**/**/*.js
src/main/**/**/*.js.map